<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Relative URL Template</title>
</head>
<body>
    <h1>Welcome to the Relative URL Template</h1>
    
    <a href = "{% url 'mapex:other' %}" > THE OTHER PAGE</a>
    <a href = "{% url 'mapex:index' %}" > THE INDEX PAGE</a>
    <a href = "{% url 'mapex:base' %}" > THE BASE PAGE</a>
    <a href = "{% url 'mapex:relative' %}" > THE RELATIVE PAGE</a>
    
    <p>This is a basic HTML structure.</p>
</body>
</html>